/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */
body {
  background-color: black;
  color: white;
  font-family: monospace;
  background-image: url (scrolling background mobile patch.gif);
  background-repeat: repeat;
  background-size: 100%;  
  font-size: 12pt;
  align-items: center;
 }

a {
  color: red;
}

a:hover {
  color: orange;
}


.border {
    border-width: 4px;
    border-style: solid;
    border-color: #7500ff; 
}


h1 {
  border-radius: 25px;
  color: red;
  text-shadow: 6px 6px #38004f;
  width: 750px;
  border: 10px solid white;
  background-color: #160626;
  margin: 30px auto;
  padding: 15px;
  font-size: 40pt;
}
h3 {
  border-radius: 25px;
  color: red;
  text-shadow: 4px 4px #38004f;
  width: 400px;
  border: 10px solid white;
  background-color: #160626;
  margin: 30px auto;
  padding: 15px;
}
p {
  border-radius: 25px;
  text-shadow: 1.5px 2px #38004f;
  width: 500px;
  border: 10px solid white;
  background-color: #160626;
  margin: 10px auto;
  padding: 15px;
}
li {
  text-shadow: 1.5px 2px #38004f;
  width: 500px;
  border: 10px solid white;
   background-color: #160626;
  margin: 10px auto;
  padding: 15px;
}
div {
  border-radius: 25px;
  text-shadow: 1.5px 2px #38004f;
  width: 500px;
  border: 10px solid white;
  background-color: #160626;
  margin: 10px auto;
  padding: 15px;
}
